/* Carousel.css */

.custom-carousel {
  text-align: center;
  margin: 20px;
  position: relative;
}

.carousel-heading {
  color: rgb(49, 96, 167);
  margin-bottom: 10px;
}

.custom-carousel p {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  line-height: 1.5;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
 /* Carousel.css */
.person-container {
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.text-container {
  flex: 1;
  text-align: left; /* Align text to the left */
}

/* Carousel.css */
/* Carousel.css */

/* Carousel.css */

/* Carousel.css */

.alis-image {
  width: 200px; /* Adjusted width */
  height: 200px; /* Adjusted height */
  border-radius: 50%; /* Keep a circular shape */
  overflow: hidden; /* Ensure the image stays within the circle */
}

.alis-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.alis-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.alis-text {
  margin-right: 20px; /* Adjust margin-right for spacing */
}

.active-person-text {
  text-align: left;
  width: 180px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

.person-images {
  display: flex;
  overflow: hidden;
  justify-content: center; /* Center the images horizontally */
  margin-top: 62px;
}


/* Carousel.css */
/* Carousel.css */
.person-image {
  position: relative;
  width: 95px;
  height: 107px;
  margin-right: 5px;
  transition: transform 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  border-radius: 50%;
}

.person-image.big {
  width: 90px;
  height: 90px;
}

.person-container.active .person-image.big {
  width: 210px;
  height: 161px;
  border-radius: 80%;
}

/* ... (rest of the styles remain unchanged) */


/* ... (rest of the styles remain unchanged) */


/* ... (rest of the styles remain unchanged) */


.person-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}


.arrow {
  position: absolute;
  font-size: 24px;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow.left {
  left: 10px;
  background-color: grey;
  margin-top: -29px;
}

.arrow.right {
  right: 10px;
  background-color: rgb(49, 96, 167);
  margin-top: -29px;
}

.indicators {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.indicator {
  width: 10px;
  height: 10px;
  background-color: grey;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.indicator.active {
  background-color: rgb(49, 96, 167);
}

.indicator.hover {
  background-color: lightgrey;
}

.hidden {
  display: none;
}
